# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_RISCV_GIGADEVICE_GD32VF103

config SOC_SERIES
	default "gigadevice-gd32vf103"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 32768

config RISCV_SOC_INTERRUPT_INIT
	default y

config RISCV_HAS_CPU_IDLE
	default y

config PLIC
	default n

config NUCLEI_ECLIC
	default y

config NUM_IRQS
	default 64

config XIP
	default y

if CLOCK_CONTROL

config CLOCK_CONTROL_GD32
	default y

endif #CLOCK_CONTROL

if GPIO

config GPIO_GD32
	default y

config GPIO_GD32_PORTA
	default y

config GPIO_GD32_PORTB
	default y

config GPIO_GD32_PORTC
	default y

config GPIO_GD32_PORTD
	default y

config GPIO_GD32_PORTE
	default y

endif # GPIO

if PINMUX

config PINMUX_GD32
	default y

endif # PINMUX


if SERIAL

config UART_GD32
	default y

endif

endif # SOC_SERIES_RISCV_GIGADEVICE_GD32VF103
