# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_RISCV_GIGADEVICE_GD32VF103

config SOC_SERIES
	default "gigadevice-gd32vf103"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 32768

config RISCV_SOC_INTERRUPT_INIT
	default y

config RISCV_HAS_CPU_IDLE
	default y

config RISCV_HAS_PLIC
	default n

config 2ND_LVL_ISR_TBL_OFFSET
	default 12

config 2ND_LVL_INTR_00_OFFSET
	default 11

config MAX_IRQ_PER_AGGREGATOR
	default 52

config NUM_IRQS
	default 64

config XIP
	default y

endif # SOC_SERIES_RISCV_GIGADEVICE_GD32VF103
