# Sipeed longan nano Development Board Configuration

# Copyright (c) 2017, embedjournal.com
# SPDX-License-Identifier: Apache-2.0

if BOARD_SIPEED_LONGAN_NANO || BOARD_SIPEED_LONGAN_NANO_LITE

config BOARD
	default "sipeed_longan_nano" if BOARD_SIPEED_LONGAN_NANO
	default "sipeed_longan_nano_lite" if BOARD_SIPEED_LONGAN_NANO_LITE

endif # BOARD_SIPEED_LONGAN_NANO
