# SPDX-License-Identifier: Apache-2.0

CONFIG_RISCV=y
CONFIG_SOC_SERIES_RISCV_GIGADEVICE_GD32VF103=y
CONFIG_SOC_RISCV_GIGADEVICE_GD32VF103=y
CONFIG_BOARD_LONGAN_NANO=y
CONFIG_CONSOLE=n
CONFIG_PRINTK=n
CONFIG_SERIAL=n
CONFIG_UART_SIFIVE=n
CONFIG_UART_SIFIVE_PORT_0=n
CONFIG_UART_CONSOLE=n
CONFIG_PLIC=n
CONFIG_PINMUX=n
CONFIG_PINMUX_SIFIVE=n
CONFIG_RISCV_MACHINE_TIMER=n
CONFIG_GPIO=n
CONFIG_GPIO_SIFIVE=n
CONFIG_SPI=n
CONFIG_SPI_SIFIVE=n
CONFIG_BOOT_BANNER=n
CONFIG_MINIMAL_LIBC=y
