# STM32 Minimum Development Board Configuration
#
# Copyright (c) 2019, embedjournal.com
#
# SPDX-License-Identifier: Apache-2.0
#

CONFIG_RISCV=y
CONFIG_SOC_SERIES_RISCV_GIGADEVICE_GD32VF103=y
CONFIG_SOC_RISCV_GIGADEVICE_GD32VF103=y
CONFIG_BOARD_SIPEED_LONGAN_NANO=y

# 72MHz system clock
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=20000000
CONFIG_RISCV_MACHINE_TIMER=y

CONFIG_RISCV_SOC_MCAUSE_EXCEPTION_MASK=0x7FF

# enable uart driver
CONFIG_SERIAL=y

# enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# enable pinmux
CONFIG_PINMUX=n

# enable GPIO
CONFIG_GPIO=y

# clock configuration
#CONFIG_CLOCK_CONTROL=y
#CONFIG_CLOCK_STM32_HSE_CLOCK=8000000
#CONFIG_CLOCK_STM32_SYSCLK_SRC_PLL=y

# use HSE as PLL input
#CONFIG_CLOCK_STM32_PLL_SRC_HSE=y
# produce 72MHz clock at PLL output
#CONFIG_CLOCK_STM32_PLL_XTPRE=n
#CONFIG_CLOCK_STM32_PLL_MULTIPLIER=9
#CONFIG_CLOCK_STM32_AHB_PRESCALER=1

# APB1 clock must not exceed 36MHz limit
#CONFIG_CLOCK_STM32_APB1_PRESCALER=2
#CONFIG_CLOCK_STM32_APB2_PRESCALER=1

CONFIG_PLIC=n
