# Sipeed longan nano Development Board Configuration
#
# Copyright (c) 2019, embedjournal.com
#
# SPDX-License-Identifier: Apache-2.0
#

CONFIG_SOC_SERIES_RISCV_GIGADEVICE_GD32VF103=y
CONFIG_SOC_RISCV_GIGADEVICE_GD32VF103=y
CONFIG_BOARD_SIPEED_LONGAN_NANO_LITE=y

# 108MHz system clock
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=108000000
CONFIG_RISCV_MACHINE_TIMER_CLOCK_FREQUENCY=27000000
CONFIG_RISCV_MACHINE_TIMER=y

CONFIG_RISCV_SOC_MCAUSE_EXCEPTION_MASK=0x7FF
